/* =================================== */
/*	Basic Style 
/* =================================== */




body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  font-size: 13px;
  color: #6a737b;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure,
p {
  margin: 0;
}

a {
  color: #0f0f0f;
  font-weight: 600;

  -webkit-transition: all .3s ease-in 0s;
  -moz-transition: all .3s ease-in 0s;
  -ms-transition: all .3s ease-in 0s;
  -o-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #6CB670;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

span.color {
  color: #a9bffa;
}

body>section,
.footer {
  padding: 70px 0;
}

.sec-title {}

.sec-title h2 {
  color: #0f0f0f;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 50px;
}

.sec-sub-title {
  margin: 35px 0 45px;
}

.sec-sub-title p {
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  color: #98a1aa;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

.fa.fa-heart-o.fa-lg {
  color: #2a52be;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #adabab;
  position: relative;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

#preloader {
  background-color: #F5F5F5;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader>img {
  left: 47%;
  position: absolute;
  top: 48%;
}


/*=========================================
	Header
==========================================*/

#navigation {
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(17, 17, 17, 0.705);
  border: 0 none;
  margin: 0;
  padding-top: 25px;
}

.navbar-toggle i {
  color: #0f0f0f;
}

.navbar-brand {
  padding: 0.7rem;
}

.navbar-brand img {
  width: 40%;
  height: auto;
  margin-top: -35px;
}

.navbar-nav li a {
  border-top: 1px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  background-color: transparent;
  border-bottom: 3px solid #2a52be;
  color: #2a52be;
}


@media(max-width:1000px) {
  .navbar-nav li a {
    margin-top: -50px;
  }
}

@media(max-width:768px) {
  .navbar-nav li a {
    margin-top: 0px;
  }
}

@media(max-width:392px) {
  .navbar-nav li a {
    margin-top: 0px;
  }

  .navbar-brand {
    margin-top: -65px;
  }

}



/*=========================================
	Slider
==========================================*/

#slider {
  padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.carousel-caption {
  top: 50%;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
  color: #2a52be;
  content: "___";
  position: relative;
  top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 5%;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #0f0f0f;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}



/*=========================================
	Features
==========================================*/

.features {
  background-color: #F5F5F5;
  height: 100vh;
  padding-bottom: 100px;
}

@media(max-width:1000px) {
  .features {
    height: 200vh;
  }
}


.owl-controls {
  bottom: -45px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  border: 1px solid #dde2e6;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 4px;
  width: 8px;
}

.owl-controls .owl-page.active span {
  background: #062033;
  border: 0;
}

.service-icon {
  color: #2a52be;
  float: left;
  padding: 10px 13px;
}

.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px;
}

.service-desc h3 {
  color: #2a52be;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 25px;
}

.service-desc .list-line h5 {
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}

.service-desc .list-line {
  display: flex;
}


.service-desc .fa-arrow-circle-right {
  color: #2a52be;
  padding-top: 5px;
  padding-right: 10px;
}



/*=========================================
	Our Works
==========================================*/




/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
  width: 273px;
  position: relative;
}



.team-member h4 {
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.team-member:hover h4 {
  color: #2a52be;
}




/*=========================================
	Some fun facts
==========================================*/

#facts {

  background-color: #F5F5F5;
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.facts .devider:before,
.facts .devider:after {
  color: #737C85;
}

.facts .devider i {
  color: #2a52be;
}

.parallax-overlay {
  background-color: #F5F5F5;
  padding: 70px 0;
}

.counters-item {
  color: #0f0f0f;
}

.counters-item i {
  border: 1px solid #2a52be;
  border-radius: 50%;
  color: #2a52be;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}


/*=========================================
	Contact Us
==========================================*/

.contact {
  padding-bottom: 0;
}

.contact-address h3 {
  color: #0f0f0f;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
  line-height: 24px;
}

.contact-form {}

.contact-form h3 {
  color: #3895d3;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
  border-bottom-color: #c0392b;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.footer-social {
  margin-top: 17px;
}

.footer-social li a {
  color: #cdd2d6;
  display: block;
  margin-bottom: 10px;
}

#map_canvas {
  height: 215px;
  width: 100%;
}



/*=========================================
	Contact Us
==========================================*/


.footer {
  background-color: #F5F5F5;
  /* border-top: 5px solid #062033; */
  color: #0f0f0f;
}

.footer a:hover {
  /* color: #; */
}

.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #0f0f0f;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {
  line-height: 24px;
}

.footer-single ul {}

.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #0f0f0f;
}

.copyright {
  color: #0f0f0f;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}





/* Custom Design */


#demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}


.green {
  background-color: #6fb936;
}

.thumb {
  margin-bottom: 30px;
}

.page-top {
  margin-top: 85px;
}


img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}


.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.modal-header {

  border-bottom: none;
}

.modal-title {
  color: #000;
}

.modal-footer {
  display: none;
}


/* .details {
  border: 1.5px solid grey;
  color: #212121;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px #212121
}

.cart {
  background-color: #212121;
  color: white;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  height: 39px;
  padding-top: 9px;
  box-shadow: 0px 5px 10px #212121
}

.card {
  width: fit-content
}

.card-body {
  width: fit-content
}

.btn {
  border-radius: 0
}

.img-thumbnail {
  border: none
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding-bottom: 10px
} */


.slider .carousel-inner .item .active {
  background: linear-gradient(rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5));
  z-index: 1;
}



.store .thumbnail {
  box-shadow: 0 20px 40px rgba(177, 177, 177, 0.2);

}

.store .thumbnail .caption {
  padding: 20px 0 0;

}

.store .thumbnail img {
  width: 100%;
}

.store .thumbnail .caption h3 {
  padding-bottom: 10px;
  color: #2a52be;
  text-transform: capitalize;
}

.store .thumbnail .caption p {
  /* padding-bottom: 20px; */
  color: rgba(0, 0, 0, 0.753);
  padding: 10px 20px 10px 10px;
}

.store .thumbnail .caption .space {
  content: "fhgbj";
  width: 5px;
  padding: 0 5px;
}

.store .thumbnail .caption .btn-cs1 {
  color: #fff;
  background-color: #2a52be;
  border-radius: 3px;
  padding: 7px 25px;
  font-size: 18px;
  transition: 1s;

}

.store .thumbnail .caption .btn-cs1:hover {
  color: #2a52be;
  background-color: #fff;
  border: 2px solid #2a52be;


}

.store .thumbnail .caption .btn-cs2 {
  color: #2a52be;
  border: 2px solid #2a52be;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 25px;
  font-size: 18px;
  transition: 1s;


}

.store .thumbnail .caption .btn-cs2:hover {
  color: #fff;
  background-color: #2a52be;
}



.info .row .col-lg-6 img {
  width: 100%;
  border-radius: 3px;
}

.info .row .col-lg-6 {
  padding: 50px;
}


.info .row .col-lg-6 .content h1 {
  padding-bottom: 30px;
  color: #2a52be;
  text-transform: capitalize;
  font-weight: 600;
}


@media (max-width:786px) {
  .info .row .col-lg-6 {
    padding: 20px;
  }

}